In [7]:
import pandas as pd
df = {
    'Name': ['Ajay', 'Amit', 'Keerthi', 'Prem', 'Priya', 'Pragna'],
    'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
   'Percentage': [88, 92, 95, 70, 65, 78]}
df = pd.DataFrame(df)
df

      Name    Stream  Percentage
0     Ajay      Math          88
1     Amit  Commerce          92
2  Keerthi   Science          95
3     Prem      Math          70
4    Priya      Math          65
5   Pragna   Science          78

In [46]:
#1. Select all the rows from the given dataframe in which ‘Percentage’ is greater than 80 using basic method. 
result = df[df['Percentage'] > 80]
result

      Name    Stream  Percentage
1     Amit  Commerce          92
2  Keerthi   Science          95

In [47]:
#2. Select all the rows from the given dataframe in which ‘Percentage’ is greater than 80 using loc. 
result = df.loc[df['Percentage'] > 80]
result

      Name    Stream  Percentage
1     Amit  Commerce          92
2  Keerthi   Science          95

In [48]:
#3.Display only the 'Name' and 'Percentage' columns using the .loc method. 
result=df.loc[:,['Name','Percentage']]
result

      Name  Percentage
1     Amit          92
2  Keerthi          95
5   Pragna          78

In [49]:
#4.Display only the 'Name' and 'Percentage' columns for rows where the 'Percentage' is greater than 80 using the .loc 
result = df.loc[df['Percentage'] > 80,['Name','Percentage']]
result

      Name  Percentage
1     Amit          92
2  Keerthi          95

In [50]:
#5Update the 'Percentage' value to 90 for the row where the 'Name' is 'Ajay'. 

df.loc[df['Name'] == 'Ajay', 'Percentage'] = 90
df

      Name    Stream  Percentage
1     Amit  Commerce          92
2  Keerthi   Science          95
5   Pragna   Science          78

In [51]:
#6. Select all the rows where the percentage is grater than 90 and the stream is science 
filtered_df = df[(df['Percentage'] > 90) & (df['Stream'] == 'Science')]
filtered_df

      Name   Stream  Percentage
2  Keerthi  Science          95

In [52]:
#7. Display all the rows where the stream is not math
filtered_df = df[df['Stream'] != 'Math']

print(filtered_df)

      Name    Stream  Percentage
1     Amit  Commerce          92
2  Keerthi   Science          95
5   Pragna   Science          78

In [53]:
#8. Display the first two rows and the first two columns of teh dataframe
result = df.iloc[:2, :2]

print(result)

      Name    Stream
1     Amit  Commerce
2  Keerthi   Science

In [54]:
#9. Sort the rows of the dataframe in ascending order based on the value in the stream column

sorted_df = df.sort_values(by='Stream', ascending=True)

print(sorted_df)

      Name    Stream  Percentage
1     Amit  Commerce          92
2  Keerthi   Science          95
5   Pragna   Science          78

In [45]:
#10.Drop the row where teh stream is math from the original dataset

df = df[df['Stream'] != 'Math']

print(df)

      Name    Stream  Percentage
1     Amit  Commerce          92
2  Keerthi   Science          95
5   Pragna   Science          78