In [1]:
import pandas as pd
data = {'A': [10, 12, 14, 15, 18, 19, 20, 30, 35, 100]} # '100' is an outlier
df = pd.DataFrame(data)
Q1 = df['A'].quantile(0.25)
Q3 = df['A'].quantile(0.75)
IQR = Q3 - Q1 # Interquartile Range (IQR)
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['A'] > lower_bound) & (df['A'] < upper_bound)]
df

    A
0  10
1  12
2  14
3  15
4  18
5  19
6  20
7  30
8  35