In [2]:
#Handling the missing values in datasets

import numpy as np
import pandas as pd
fee = pd.DataFrame({
    'ID':[11,12,13,14,15,16,17,18,19,20],
    'Pending':['5000','10000',np.nan,'5500','7600',np.nan,'15000','4500','2000',np.nan]})
fee

   ID Pending
0  11    5000
1  12   10000
2  13     NaN
3  14    5500
4  15    7600
5  16     NaN
6  17   15000
7  18    4500
8  19    2000
9  20     NaN

In [3]:
pd.isnull(fee['Pending'])

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
9     True
Name: Pending, dtype: bool

In [4]:
print(fee.notnull())

     ID  Pending
0  True     True
1  True     True
2  True    False
3  True     True
4  True     True
5  True    False
6  True     True
7  True     True
8  True     True
9  True    False

In [5]:
#Drop the columns missing values
print(fee.drop(["Pending"],axis=1))

   ID
0  11
1  12
2  13
3  14
4  15
5  16
6  17
7  18
8  19
9  20

In [6]:
#filling missing values with mean
import numpy as np
import pandas as pd
G_dict={'G1':[10,20,30,40],
        'G2':[25,np.nan,np.nan,29],
        'G3':[15,14,17,11],
        'G3':[21,22,23,24]}
gfg=pd.DataFrame(G_dict)
gfg

   G1    G2  G3
0  10  25.0  21
1  20   NaN  22
2  30   NaN  23
3  40  29.0  24

In [7]:
import numpy as np
import pandas as pd
G_dict={'G1':[10,20,30,40],
        'G2':[25,np.nan,np.nan,29],
        'G3':[15,14,17,11],
        'G4':[21,22,23,24]}
gfg=pd.DataFrame(G_dict)
mean_value=gfg['G2'].mean()
gfg['G2'] = gfg['G2'].fillna(mean_value)
print(gfg)

   G1    G2  G3  G4
0  10  25.0  15  21
1  20  27.0  14  22
2  30  27.0  17  23
3  40  29.0  11  24

In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_iris
iris = load_iris()
data = iris.data
columns = iris.feature_names
df = pd.DataFrame(data, columns = columns)
print("Original Dataset:")
print(df.head())

Original Dataset:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_iris
iris = load_iris()
data = iris.data
columns = iris.feature_names
df = pd.DataFrame(data, columns = columns)
print("Original Dataset:")
print(df.head())
scaler = MinMaxScaler()
print(scaler)
normalized_data = scaler.fit_transform(df)
df_normalized = pd.DataFrame(normalized_data, columns = columns)
print("\nNormalized Dataset:")
print(df_normalized.head())

Original Dataset:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
MinMaxScaler()

Normalized Dataset:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [1]:
import numpy as np

In [34]:
data=[10,12,14,11,13,100,12,15,14,11]
mean=np.mean(data)
std_dev=np.std(data)
threshold=2
outliers=[x for x in data if(x-mean)/std_dev>threshold]
print("outliers:",outliers,std_dev)

outliers: [100] 26.308933843848557

In [28]:
#To drop outliers
data=[10,12,14,11,13,100,12,15,14,11]
mean=np.mean(data)
std_dev=np.std(data)
threshold=2
filtered_data=[x for x in data if(x-mean)/std_dev<=threshold]
print("Data without outliers",filtered_data,std_dev)

Data without outliers [10, 12, 14, 11, 13, 12, 15, 14, 11] 26.308933843848557

In [57]:
data=[10,12,14,11,13,300,350,390,15,14,11]
mean=np.mean(data)
std_dev=np.std(mean)
threshold=3
outliers=[x for x in data if(x-mean)/std_dev>threshold]
print("outliers:",outliers)

outliers: [300, 350, 390]

C:\Users\NOKESH\AppData\Local\Temp\ipykernel_14128\1608871076.py:5: RuntimeWarning: divide by zero encountered in scalar divide
  outliers=[x for x in data if(x-mean)/std_dev>threshold]

In [58]:
filtered_data2=[x for x in data if(x-mean)/std_dev<=threshold]
print("Data without outliers",filtered_data2,std_dev)

Data without outliers [10, 12, 14, 11, 13, 15, 14, 11] 0.0

C:\Users\NOKESH\AppData\Local\Temp\ipykernel_14128\3985714873.py:1: RuntimeWarning: divide by zero encountered in scalar divide
  filtered_data2=[x for x in data if(x-mean)/std_dev<=threshold]